


/* header */

.header {
    background: #27273e;
    padding: 12px 0;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: inline-block;
}

.contacts {
    font-style: normal;
    text-align: right;
}

.contacts__tel {
    font-family: 'Gotham Pro', sans-serif;
    font-size: 21px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 5px;;
}

.contacts__schedule {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #ec1e79;
    font-weight: bold;
    text-decoration: underline;
}

.contacts__trigger {
    position: relative;
}
.contacts__trigger:hover .contacts__dropdown {
    right: 0;
    opacity: 1;
}

.contacts__dropdown {
    position: absolute;
    right: 0;
    top: 117%;
    margin-top: 20px;

    padding: 14px 9px;
    background: #fff;
    border-radius: 3px;
    text-align: left;
    box-shadow: 2px 3px 6px 1px rgba(0,0,0,.2);

    right: 9999px;
    opacity: 0;

    transition: opacity .4s;
}

.contacts__dropdown:before {
    content: '';
    display: block;
    width: 0;
    height: 30px;
    border: 10px solid transparent;
    border-bottom-color: #fff;

    position: absolute;
    bottom: 100%;
    right: 2px;
}

.contacts__dropdown:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    height: 30px;
    bottom: 98%;
}

.contacts__days {
    font-size: 14px;
    /* text-transform: uppercase; */
    font-family: 'Gotham Pro', Helvetica, Tahoma, Arial, sans-serif;
    color: #ec1e79;

    margin-bottom: 9px;
}

.contacts__break {
    font-size: 14px;
    /* text-transform: uppercase; */
    font-family: 'Gotham Pro', Helvetica, Tahoma, Arial, sans-serif;
    color: #111;
}

/* banner */
.banner {
    background: #27273e;

    margin-bottom: 17px;
}

.banner__img {
    height: 391px;
    margin: 0 auto;
    background: url("../img/banner.jpg") center bottom;
}

/* maincontent */
.maincontent {
    padding-top: 40px;
}

.maincontent-padding {
    padding-top: 0;
}

.maincontent__container {
    display: flex;
    justify-content: space-between;
}

.sidebar {
    width: 23.2%;
}

.page {
    width: 74.8%;
}

.menu--comments {
    margin-bottom: 20px;
}

.menu__item {
    display: inline-block;
    margin-right: 90px;
}
.menu__item:last-child {
    margin-bottom: 0;
    margin-right: 0;
}

/* active menu item */
.menu--main .menu__item.active .menu__text {
    color: #ec1e79;
}

.menu__item.active .menu__text:before,
.menu__item.active .menu__text:after {
    background-image: url(../img/sprite-2.png);
}

.menu--main .menu__item.active .menu__text-icon--main:before {background-position: -90px -8px; filter: none;}
.menu--main .menu__item.active .menu__text-icon--feed:before {background-position: -10px -9px; filter: none;}
.menu--main .menu__item.active .menu__text-icon--wallet:before {background-position: -48px -45px; filter: none;}

.menu--main .menu__text-icon--main:after {background-position: -90px -8px; opacity: 0; transition: opacity .4s}
.menu--main.menu__text-icon--feed:after {background-position: -10px -9px; opacity: 0; transition: opacity .4s}
.menu--main .menu__text-icon--wallet:after {background-position: -48px -45px; opacity: 0; transition: opacity .4s}

.menu--main .menu__item:hover .menu__text-icon--main:after {opacity: 1;}
.menu--main .menu__item:hover .menu__text-icon--feed:after {opacity: 1;}
.menu--main .menu__item:hover .menu__text-icon--wallet:after {opacity: 1;}

.menu--main .menu__item:hover .menu__text {
    color: #ec1e79;
}


.menu--main .menu__text {
    font-family: 'Gotham Pro', sans-serif;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 30px;
    letter-spacing: 2px;

    position: relative;

    transition: color .4s;
}

.menu--main .menu__text:before,
.menu--main .menu__text:after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -12px;
    background: no-repeat center center;
    background-image: url(../img/sprite-2.png);
}
.menu--main .menu__text-icon--main:before {background-position: -90px -43px; filter: brightness(0) invert(1);}
.menu--main .menu__text-icon--feed:before {background-position: -50px -9px; filter: brightness(0) invert(1);}
.menu--main .menu__text-icon--wallet:before {background-position: -9px -45px; filter: brightness(0) invert(1);}

.menu--main .menu__text-icon--main:after {background-position: -90px -8px; opacity: 0; transition: opacity .4s}
.menu--main .menu__text-icon--feed:after {background-position: -10px -9px; opacity: 0; transition: opacity .4s}
.menu--main .menu__text-icon--wallet:after {background-position: -48px -45px; opacity: 0; transition: opacity .4s}


/* other menu*/

/* active menu item */
.menu__item.active .menu__text {
    color: #000;
}

.menu__item.active .menu__text:before,
.menu__item.active .menu__text:after {
    background-image: url(../img/sprite-2.png);
}

.menu__item.active .menu__text-icon--main:before {background-position: -90px -43px;}
.menu__item.active .menu__text-icon--feed:before {background-position: -50px -9px;}
.menu__item.active .menu__text-icon--wallet:before {background-position: -9px -45px;}

.menu__item:hover .menu__text-icon--main:after {opacity: 1;}
.menu__item:hover .menu__text-icon--feed:after {opacity: 1;}
.menu__item:hover .menu__text-icon--wallet:after {opacity: 1;}

.menu__item:hover .menu__text {
    color: #000;
}


.menu__text {
    font-family: 'Gotham Pro', sans-serif;
    font-size: 12px;
    color: #ec1e79;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 30px;
    letter-spacing: 2px;

    position: relative;

    transition: color .4s;
}

.menu__text:before,
.menu__text:after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -12px;
    background: no-repeat center center;
    background-image: url(../img/sprite-2.png);
}
.menu__text-icon--main:before {background-position: -90px -8px;}
.menu__text-icon--feed:before {background-position: -10px -9px;}
.menu__text-icon--wallet:before {background-position: -48px -45px;}

.menu__text-icon--main:after {background-position: -90px -43px; opacity: 0; transition: opacity .4s}
.menu__text-icon--feed:after {background-position: -50px -9px; opacity: 0; transition: opacity .4s}
.menu__text-icon--wallet:after {background-position: -9px -45px; opacity: 0; transition: opacity .4s}


/* other menu end */

.page__title {
    font-family: 'Gotham Pro';
    font-size: 49px;
    color: #000;
    text-transform: capitalize;
    margin-bottom: 46px;
}

.page__title--border {
    font-size: 30px;
}

.feature {
    margin-top: 12px;
    margin-bottom: 30px;
}

.feature__top {
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Gotham Pro', sans-serif;
    margin-bottom: 30px;
}

.features__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
}

.features__item {
    /* margin-left: 10px; */
    padding-right: 10px;
    flex: 1 0 258px;
}

.feature__block {
    text-align: center;
    padding: 23px 37px;
    padding-bottom: 10px;
    border: 1px solid #e8e9ed;
}

.feature__img {
    display: flex;
    justify-content: center;

    margin-bottom: 34px;
}

.feature__circle {
    width: 68px;
    height: 68px;
    border-radius: 50%;
    background-color: #27273e;

    position: relative;
}

.feature__circle:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 33px;
    height: 33px;
    background: url(../img/sprite-1.png);
}

.feature__circle--flower:before {
    background-position: -59px -8px;
}

.feature__circle--star:before {
    background-position: -9px -10px;
}

.feature__circle--palette:before {
    background-position: -106px -8px;
}

.feature__circle-pic {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: inline-block;
}

.feature__title {
    font-family: 'Gotham Pro', sans-serif;
    letter-spacing: 3px;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 20px;
}

.feature__desc {
    font-family: 'Gotham Pro light', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 11px;
}

.feature__info-list {
    text-align: left;
}

.feature__info-item {
    font-family: 'Gotham Pro light', sans-serif;
    font-size: 18px;
    padding-left: 30px;
    margin-bottom: 15px;

    position: relative;
}
.feature__info-item:before {
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    background: #cc3366;
    border-radius: 50%;
    top: 50%;
    margin-top: -2px;
    left: 0;

    position: absolute;
}

.news__list {
    padding-top: 27px;
    margin-bottom: 60px;
}

.news__item {
    margin-bottom: 50px;
}
.news__item:last-child {
    margin-bottom: 0;
}

.comments__item {
    margin-bottom: 31px;
}
.comments__item:last-child {
    margin-bottom: 0;
}

.comment__block {
    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid #f5f5f5;
    /* padding-bottom: 20px; */
}
.news__item:last-child .comment__block {
    border: none;
}

.comment__block-pic {
    width: 18.4%;
}

.comment__avatar {
    border-radius: 50%;
    overflow: hidden;
}

.comment__img-elem {
    display: block;
    max-width: 100%;
}

.comment__info {
    width: 77.3%;
}

.comment__date {
    font-family: "Roboto", sans-serif;
    font-weight: light;
    font-size: 14px;
    color: #656464;
    margin-bottom: 5px;
}

.comment__title {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #221f1f;
    font-weight: bold;
    margin-bottom: 10px;;
}

.comment__desc {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #221f1f;
    line-height: 1.7;
    letter-spacing: 1px;
}

.pages {
    margin-bottom: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pages__page {
    font-size: 14px;
    color: #656464;
}

.pages__list {  
    display: flex;
    justify-content: space-between;
}

.pages__item {
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 2px;
    cursor: pointer;

    position: relative;
}
.pages__item.active {
    background: #000;
}
.pages__item.active .pages__item-num {
    color: #ec1e79;
}

.pages__item:hover .pages__item-num {
    color: #ec1e79;
}

.pages__item-num {
    color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    transition: color .4s;
}

.pages__arrow {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url(../img/sprite-4.png);
}
.pages__arrow-left { background-position: -1px -1px; }
.pages__arrow-right { background-position: -28px -1px; }
/* footer */

.footer {
    padding: 12px 0;
    background: #27273e;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__text {
    font-family: 'Gotham Pro light', sans-serif;
    font-size: 14px;
    color: #fff;
    width: 261px;
}
.footer__text-bold {
    color: #fff;
    font-family: 'Gotham Pro', sans-serif;
}

.socials__list {
    display: flex;
    justify-content: center;
}

.socials__item {
    margin-right: 8px;
}
.socials__item:last-child {
    margin-right: 0;
}

.socials__text {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    /* color: #fff; */
    font-size: 14px;
    margin-bottom: 7px;
}

.socials__link {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    overflow: hidden;
    background: url(../img/sprite-3.png);
    background-color: #eee;

    transition: background-color .5s;
}
.socials__link:hover {
    background-color: #ec1e79;
}

.socials__link-vk {
    background-position: -38px -32px;
}
.socials__link-fb {
    background-position: -70px -5px;
}
.socials__link-gg {
    background-position: -7px -4px;
}
.socials__link-tw {
    background-position: -5px -33px;
}
.socials__link-ml {
    background-position: -41px -4px;
}