@font-face {
    font-family: 'Gotham Pro';
    src: url('../fonts/subset-GothamPro-Bold.woff2') format('woff2'),
        url('../fonts/subset-GothamPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro light';
    src: url('../fonts/subset-GothamPro-Light.woff2') format('woff2'),
        url('../fonts/subset-GothamPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}




.clearfix,
.clearfix:before,
.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

* {
    font-family: helvetica, arial, tahoma, sans-serif;
}

a {
    text-decoration: none;
}

img {
    display: inline-block;
}

time {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    width: 1060px;
    margin: auto;
}


/* header */

.header {
    background: #27273e;
    padding-top: 12px;
    padding-bottom: 12px;
}

.header__left,
.header__right {
    width: 50%;
    float: left;
}

.logo {
    display: inline-block
}

.header__right {
    text-align: right;
}

.contacts__tel {
    font-family: 'Gotham Pro', sans-serif;
    font-size: 21px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 5px;;
}

.contacts__schedule {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #ec1e79;
    font-weight: bold;
    text-decoration: underline;
}

/* banner */
.banner {
    background: #27273e;

    margin-bottom: 60px;;
}

.banner__img {
    height: 367px;
    margin: 0 auto;
    background: url("../img/banner.jpg");
}

/* maincontent */

.sidebar {
    width: 160px;
    float: left;
}

.page {
    width: 880px;
    float: right;
}

.menu__item {
    margin-bottom: 24px;
}
.menu__item:last-child {
    margin-bottom: 0;
}

.menu__text {
    font-family: 'Gotham Pro', sans-serif;
    font-size: 12px;
    color: #ec1e79;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 30px;

    position: relative;
}
.menu__text.active {
    color: #000;
}

.menu__text:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -12px;
    background: no-repeat center center;
}
.menu__text--icon--main:before {background-image: url("../img/triangle.png");}
.menu__text--icon--feed:before {background-image: url("../img/feed_icon.png");}
.menu__text--icon--wallet:before {background-image: url("../img/wallet_icon.png");}

.page__title {
    font-family: 'Gotham Pro';
    font-size: 49px;
    color: #000;
    text-transform: capitalize;
    margin-bottom: 60px;
}

.features {
    margin-bottom: 60px;
}

.features__list {
    font-size: 0;
}

.features__item {
    display: inline-block;
    vertical-align: top;

    width: 33.33%;
    padding: 0 10px;
    box-sizing: border-box;
}
.features__item * {
    font-size: 16px;
}

.features__block {
    text-align: center;
}

.features__img {
    display: inline-block;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
}

.features__circle {
    width: 68px;
    height: 68px;
    border-radius: 50%;
    background-color: #27273e;

    position: relative;
}

.features__circle-pic {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: inline-block;
}

.features__title {
    font-family: 'Gotham Pro', sans-serif;
    letter-spacing: 3px;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 20px;
}

.features__desc {
    font-family: 'Gotham Pro light', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 5px;
}

.features__info-list {
    text-align: left;
}

.features__info-item {
    font-family: 'Gotham Pro light', sans-serif;
    font-size: 18px;
    padding-left: 30px;
    margin-bottom: 12px;

    position: relative;
}
.features__info-item:before {
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    background: #cc3366;
    border-radius: 50%;
    top: 50%;
    margin-top: -2px;
    left: 0;

    position: absolute;
}

.news__list {
    margin-bottom: 55px;
}

.news__item {
    margin-bottom: 20px;
}

.news__img {
    width: 160px;
    height: 160px;
    float: left;
    border-radius: 50%;
    overflow: hidden;

    margin-right: 17px;
}

.news__info {
    width: 680px;
    float: right;
}

.news__img-pic {
    display: inline-block;
    max-width: 100%;
}

.news__date {
    font-family: "Roboto", sans-serif;
    font-weight: light;
    font-size: 14px;
    color: #656464;
    margin-bottom: 10px;
}

.news__title {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #221f1f;
    font-weight: bold;
    margin-bottom: 10px;;
}

.news__desc {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #221f1f;
}

.pages {
    text-align: center;
    margin-bottom: 55px;
}

.pages__page {
    font-size: 14px;
    color: #656464;
}

.pages__list {  
    display: inline-block;
}

.pages__item {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 2px;
    cursor: pointer;

    position: relative;
}
.pages__item.active {
    background: #000;
}
.pages__item.active .pages__item-num {
    color: #fff;
}

.pages__item-num {
    color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.pages__arrow {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: no-repeat center center;
}
.pages__arrow-left { background-image: url("../img/left.png"); }
.pages__arrow-right { background-image: url("../img/right.png"); }

.pages__page,
.pages__arrow,
.pages__list {
    display: inline-block;
    vertical-align: middle;
}

/* footer */

.footer {
    padding: 12px 0;
    background: #27273e;
}

.footer__left,
.footer__center,
.footer__right {
    float: left;
    width: 33.33%;
}

.footer__center {
    text-align: center;
}

.footer__right {
    text-align: right;
}

.footer__text {
    font-family: 'Gotham Pro light', sans-serif;
    font-size: 14px;
    padding-right: 66px;
    color: #fff;
}
.footer__text-bold {
    color: #fff;
    font-family: 'Gotham Pro', sans-serif;
}

.socials__text {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: #fff;
    font-size: 14px;
    margin-bottom: 7px;;
}

.socials__item {
    display: inline-block;
    vertical-align: middle;
}

.socials__link {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    overflow: hidden;
    background: no-repeat center center;
    background-color: #eee;

    transition: background-color .5s;
}
.socials__link:hover {
    background-color: #ec1e79;
}

.socials__link-vk {
    background-image: url("../img/vk.png");
}
.socials__link-fb {
    background-image: url("../img/fb.png");
}
.socials__link-gg {
    background-image: url("../img/google.png");
}
.socials__link-tw {
    background-image: url("../img/twitter.png");
}
.socials__link-ml {
    background-image: url("../img/mail.png");
}